

$main-font-color : burlywood;
$font-color-hover : rgb(185, 0, 0);

$modal-font-color : white;
$modal-background-color : rgb(206, 198, 198);
$overlay-color : rgba(0, 0, 0, .8);

$background-color : black;

$itemGrow: 1.2;
$duration: 250ms;
