

$main-font-color : burlywood;
$font-color-hover : rgb(185, 0, 0);

$modal-font-color : white;
$modal-background-color : rgb(236, 234, 234);
$overlay-color : rgba(0, 0, 0, .8);

$background-color : rgb(0, 0, 0);

$itemGrow: 1.2;
$duration: 250ms;
